{% extends('admin/job/formLayout.html.twig') %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Edit Job</h1>
            </div>
        </div>
    </div>

    {{ include('admin/job/_form.html.twig', {
        'buttonText': 'Save'
    }) }}

{% endblock %}
